/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 16px;
}

* {
  font-family: Arial, sans-serif !important;
}

.header {
  max-width: 1920px;
  margin: auto;
  padding: 16px 20%;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 10px;
  }
}

.fs-default {
  font-size: 14px !important;
}

.fs-heading {
  font-size: 18px !important;
}

.close {
  display: none !important;
}

.main {
  width: 100%;
  background: rgba(246, 247, 249, 1);
}

.accordion-wrapper_empty {
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
}

.accordion-wrapper {
  display: flex;
  min-height: calc(100vh - 70px);
  font-size: 18px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  justify-content: center;
  padding: 56px 0;
}

.accordion { 
  display: flex;
  width: 1160px;
  gap: 24px;
  flex-direction: column;
}

.accordion-button {
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 1) !important;
  transition: 0.4s;
  color: black !important;
  border-radius: 6px !important;
  font-size: 1.125rem !important;
}

.accordion-body {
  padding-top: 0.5rem !important;
}

.accordion-button:focus {
  color: rgba(0, 91, 254, 1) !important;
}

.accordion-item {
  border: none !important;
  border-radius: 6px !important;
}

.contact {
  display: flex;
  width: calc(100%);
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-block: 1rem;
  justify-content: space-between;
  align-items: center;
}

.contact__name {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.125rem;
}

.contact__number {
  font-size: 1.125rem;
}

.edit-btn:hover > svg > path,
.delete-btn:hover > svg > path {
  fill: white !important;
}

.edit-btn:hover {
  background: #0d6efd !important;
}

.delete-btn:hover {
  background: #dc3545 !important;
}

