.modal-dialog {
  margin: 0;
  height: 100vh;
  width: 312px;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, 0);
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-header {
  height: 70px;
  padding-inline: 24px !important;
}

.modal-input, .group-select {
  background: rgba(0, 0, 0, 0.1) !important;
  outline: none !important;
  box-shadow: none !important;
  width: 214px;
  margin-inline: auto;
  appearance: none;
  color: rgba(0, 0, 0, 0.6) !important;
}

#groupsModal .modal-input {
  margin: 0;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}

.modal-group {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-group__name {
  padding: 11px 12px;
  width: 214px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;
}

.add-btn {
  color: #005BFE !important;
  text-decoration: none !important;
}

.add-btn:hover {
  background: rgba(0, 91, 254, 0.1) !important;
}

.group-select__wrapper {
  position: relative;
  display: inline-block;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  pointer-events: none;
  transform: translateY(-50%);
}

.select-icon::before {
  content: url(../icons/dropdown.svg);
}

.btn-close {
  background-size: 14px !important;
  padding: 5px !important;
  transition: 0.4s;
}

.btn-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
